<div class='knowledge-brand column is-one-eighth-desktop is-one-quarter-mobile'>
  <%= link_to brand_path(brand.name) do %>
    <%= image_tag brand.image.variant(resize_to_limit: [200, 200]), size: '200x200', alt: brand.name,
                                                                    class: brand.name.gsub(/[.' ]/, '').downcase %>
    <p class='list-title'><%= brand.name %></p>
  <% end %>
</div>
