<section class='line-section'>
  <%= render partial: 'shared/section_headline', locals: { title: 'Line' } %>
  <div class='line-container container'>
    <h2 class='line-title'>Line作成</h2>
    <%= render 'form', line: @line %>

    <%= link_to '管理画面に戻る', admin_path %>
  </div>
</section>
