@use '../base' as *;
@use '../variables' as *;
@use '../common/pageloader' as *;

.top-headline-section {
  padding-bottom: 2.5em;
  border-bottom: solid 2px $primary;
  .main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .top-headline-container {
    #headline-main-splide {
      margin-bottom: 24px;
      .main-item {
        max-height: 400px;
        text-align: center;
        img {
          width: 100%;
          max-height: 400px;
          object-fit: contain;
          aspect-ratio: 16 / 9;
        }
      }
    }
    #headline-splide {
      @include mobile {
        padding: 0 0.5em;
      }
      .splide__list {
        justify-content: space-evenly;
        align-items: center;
        height: 104px;
      }
      .splide__slide {
        text-align: center;
        max-width: 160px;
        opacity: 0.6;
        img {
          width: 100%;
          max-height: 104px;
          aspect-ratio: 16 / 9;
          object-fit: contain;
        }
        &.is-active {
          opacity: 1;
          border: none;
        }
      }
      .splide__arrow {
        background: $white;
      }
    }
  }

  .mobile-contents {
    margin-top: 16px;
  }

  .magazine-ranking-container {
    padding-left: 16px;
    border-left: solid 1px $primary;
    @include touch {
      margin: 0 16px;
      padding-left: 0;
      border-left: none;
    }

    .ranking-title {
      padding: 1em 0;
      border-bottom: 1px solid $dark-gray;
      font-size: 1.2rem;
      font-weight: 700;
      .ranking-title-text {
        border: solid 1px $primary;
        box-shadow: -8px 0px 0px 0px #fcd900;
      }
    }
    .magazine-ranking-list {
      display: flex;
      flex-flow: revert;
      flex-direction: column;
      margin-bottom: 10px;
    }
    .magazine-ranking-item {
      display: flex;
      padding: 1em 0;
      gap: 16px;
      border-bottom: 1px solid $dark-gray;
    }
    .magazine-ranking-left {
      min-width: 80px;
      position: relative;
      img {
        aspect-ratio: 1 / 1;
        height: 80px;
        border-radius: 4px;
        object-fit: cover;
      }
      .ranking-number {
        position: absolute;
        top: -8px;
        left: -8px;
        width: 24px;
        height: 24px;
        border-radius: 4px;
        color: $white;
        background-color: $primary;
        text-align: center;
        font-size: 1rem;
        font-weight: 700;
        line-height: 24px;
        z-index: 5;
      }
    }
    .magazine-ranking-right {
      .magazine-title {
        margin-bottom: 4px;
        font-size: .9rem;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        line-clamp: 3;
        overflow: hidden;
      }
      .magazine-tags {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 2px;
        gap: 4px;
      }
      .magazine-tag {
        font-size: .7rem;
        background: $secondary;
        padding: 2px 4px;
        border-radius: 4px;
        &:hover {
          text-decoration: dotted underline;
        }
      }
    }
    .read-more {
      font-size: .9rem;
      text-align: right;
    }
  }
}

.top-knowledge-section {
  padding-bottom: 64px;
  border-bottom: solid 2px $primary;

  .top-knowledge-container {
    padding: 0 1em;
  }
  .knowledge-list {
    margin-bottom: 48px;
    @include touch {
      margin-bottom: 28px;
    }
  }
  .brand-list {
    margin-bottom: 40px;
  }
  .is-one-eighth-desktop {
    @include tablet {
      flex: none;
      width: 12.5%;
    }
  }
  .accordion-trigger {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
  }
  .accordion-content {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition:
      opacity 0.4s ease,
      max-height 0.4s ease;
    &.is-open {
      opacity: 1;
    }
  }

  .lists-title {
    margin: 0 0 24px;
    font-size: 28px;
    font-weight: 700;
    text-transform: capitalize;
    color: $primary90;
    &::after {
      background-color: $primary90;
    }
    @include mobile {
      margin: 0 0 16px;
      font-size: 20px;
    }
  }
  .list-title {
    text-align: center;
    @include mobile {
      font-size: 14px;
    }
  }
  img {
    border-radius: 10%;
  }
}

.top-magazine-section {
  padding-bottom: 64px;
  border-bottom: solid 2px $primary;
  .top-magazine-container {
    @include touch {
      margin: 0 16px;
    }
  }
  .read-more-button {
    .button {
      color: $primary;
      border: solid 1px $primary;
      i {
        margin-left: 6px;
      }
    }
  }
  .magazine-cards {
    .magazine-card {
      margin-bottom: 24px;
    }
    .magazine-card-image {
      margin-bottom: 8px;
      img {
        object-fit: cover;
        border: solid 1px $primary;
        border-radius: 4px;
      }
    }
    .magazine-card-header {
      font-size: 14px;
    }
    .magazine-date {
      position: absolute;
      z-index: 5;
    }
  }
  .magazine-date {
    background-color: $secondary;
    color: $primary;
    font-size: 14px;
    padding: 4px 8px;
    border: 1px solid $primary;
    border-radius: 4px 0;
  }
}

.top-discovery-section {
  padding-bottom: 64px;
  border-bottom: solid 2px $primary;
  .top-discovery-container {
    padding: 0 1em;
  }
  .carousel-title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 16px;
  }
  .product-splide {
    background-color: #384d5b;
    padding: 2em;
    margin-bottom: 32px;
    @include mobile {
      width: 100vw;
      margin: 0 calc(50% - 50vw) 32px;
      padding: 1em 0;
    }
  }
  #product-splide {
    margin-bottom: 4em;
    @include mobile {
      margin-bottom: 0;
    }
    .splide__list {
      gap: 1em;
      @include mobile {
        gap: 0;
      }
    }
    .product-card {
      padding: 0.75em;
      background-color: $white;
      @include mobile {
        margin-right: 1em;
      }
    }
    .splide__slide {
      @include mobile {
        width: 40% !important;
      }
      .product-card-image {
        margin-bottom: 8px;
        img {
          object-fit: cover;
          background: #384d5b;
        }
      }
      .slide-title {
        font-size: 1.2rem;
        font-weight: 600;
        @include mobile {
          font-size: 1.0rem;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          line-clamp: 2;
          overflow: hidden;
        }
      }
      .slide-sub-title {
        font-size: 1rem;
        @include mobile {
          font-size: 0.7rem;
        }
      }
      .product-card-content {
        display: flex;
        flex-direction: column;
        gap: 4px;
      }
    }
    .splide__arrow {
      background: $white;
      cursor: pointer;
      position: absolute;
      top: unset;
      bottom: -3em;
      transform: unset;
      z-index: 1;
      align-items: center;
      display: flex;
      justify-content: center;
      height: 2em;
      width: 4em;
      border-radius: 4px;
      border: solid 1px $primary90;
      color: $primary90;
      font-size: 20px;
      opacity: 1;
      &:focus-visible {
        outline: unset;
      }
    }
    .splide__pagination {
      bottom: -3em;
      &__page {
        opacity: 1;
      }
    }
  }
}

.top-community-section {
  padding-bottom: 64px;
  .top-community-container {
    padding: 0 1em;
  }
  .instagram-list-header {
    display: flex;
    align-items: flex-end;
    margin-bottom: 32px;
    .instagram-title {
      font-size: 2rem;
      @include mobile {
        font-size: 1.5rem;
      }
      .instagram-title-text {
        border: solid 1px $primary;
        box-shadow: -8px 0px 0px 0px #fcd900;
      }
    }
    .instagram-sub-title {
      font-size: 1.2rem;
      border: solid 1px $primary;
      border-left: none;
      @include mobile {
        font-size: 1rem;
      }
    }
  }
  .instagram-list-body {
    margin-bottom: 32px;
  }
  .instagram-feeds {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4px;
    img {
      width: 100%;
      height: 100%;
      aspect-ratio: 4 / 5;
      object-fit: cover;
    }
  }
  #lookvook-splide {
    @include mobile {
      margin: 0 calc(50% - 50vw);
    }
    .splide__slide {
      margin-right: 4px;
    }
    img {
      width: 100%;
      height: 100%;
      aspect-ratio: 4 / 5;
      object-fit: cover;
    }
  }
}

.about-section {
  margin-bottom: 64px;
  @include touch {
    margin: 0 10px 64px;
  }
  .about-image {
    margin: 0 auto 16px;
    text-align: center;
    img {
      width: 400px;
      height: 400px;
      @include mobile {
        width: 240px;
        height: 240px;
      }
    }
  }
  .about-message {
    line-height: 28px;
  }
}
