@use '../base' as *;
@use '../variables' as *;
@use '../common/pageloader' as *;

.top-headline-section {
  padding-bottom: 2.5em;
  border-bottom: solid 2px $primary;

  .top-headline-container {
    #headline-main-splide {
      margin-bottom: 24px;
      .main-item {
        height: 400px;
        text-align: center;
        @include mobile {
          height: 200px;
        }
        img {
          width: 100%;
          max-height: 400px;
          object-fit: contain;
          @include mobile {
            max-height: 200px;
          }
        }
      }
    }
    #headline-splide {
      @include mobile {
        padding: 0 0.5em;
      }
      .splide__list {
        justify-content: space-evenly;
        align-items: center;
        height: 104px;
      }
      .splide__slide {
        text-align: center;
        max-width: 160px;
        opacity: 0.6;
        img {
          width: 100%;
          max-height: 104px;
          object-fit: contain;
        }
        &.is-active {
          opacity: 1;
          border: none;
        }
      }
      .splide__arrow {
        background: $white;
      }
    }
  }

  .magazine-ranking-container {
    padding-left: 16px;
    border-left: solid 1px $primary;
    @include touch {
      margin: 0 16px;
      padding-left: 0;
      border-left: none;
    }

    .ranking-title {
      padding: 1em 0;
      margin-bottom: 8px;
      border-bottom: 1px solid $dark-gray;
      font-size: 16px;
      font-weight: 700;
    }
    .magazine-ranking-list {
      display: flex;
      flex-flow: revert;
      flex-direction: column;
      gap: 8px;
    }
    .magazine-ranking-item {
      display: flex;
      gap: 8px;
      padding-bottom: 8px;
      border-bottom: 1px solid $dark-gray;
    }
    .magazine-ranking-left {
      min-width: 80px;
      img {
        width: 100%;
        height: 80px;
        border-radius: 8px;
        object-fit: cover;
      }
    }
    .magazine-ranking-right {
      .magazine-title {
        font-size: 14px;
        font-weight: 700;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        line-clamp: 3;
        overflow: hidden;
      }
      .magazine-tags {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 2px;
        gap: 4px;
      }
      .magazine-tag {
        font-size: 12px;
        background: $secondary;
        padding: 2px 4px;
        border-radius: 4px;
      }
      .magazine-date {
        font-size: 12px;
      }
    }
  }
}

.top-knowledge-section {
  padding-bottom: 64px;
  border-bottom: solid 2px $primary;

  .top-knowledge-container {
    @include touch {
      margin: 0 16px;
    }
  }
  .knowledge-list {
    margin-bottom: 48px;
    @include touch {
      margin-bottom: 28px;
    }
  }
  .brand-list {
    margin-bottom: 40px;
  }
  .is-one-eighth-desktop {
    @include tablet {
      flex: none;
      width: 12.5%;
    }
  }
  .accordion-trigger {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
  }
  .accordion-content {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition:
      opacity 0.4s ease,
      max-height 0.4s ease;
    &.is-open {
      opacity: 1;
    }
  }

  .lists-title {
    margin: 0 0 24px;
    font-size: 28px;
    font-weight: 700;
    text-transform: capitalize;
    color: $primary90;
    &::after {
      background-color: $primary90;
    }
    @include mobile {
      margin: 0 0 16px;
      font-size: 20px;
    }
  }
  .list-title {
    text-align: center;
    @include mobile {
      font-size: 14px;
    }
  }
  img {
    border-radius: 10%;
  }
}

.top-magazine-section {
  padding-bottom: 64px;
  border-bottom: solid 2px $primary;
  .top-magazine-container {
    @include touch {
      margin: 0 16px;
    }
  }
  .read-more-button {
    .button {
      background-color: $primary95;
      color: $white;
      i {
        margin-left: 6px;
      }
    }
  }
  .magazine-cards {
    .magazine-card {
      padding: 0 14px;
      margin-bottom: 16px;
      @include mobile {
        padding: 4px;
      }
    }
    .magazine-card-image {
      margin-bottom: 16px;
      img {
        object-fit: cover;
      }
    }
    .magazine-card-header {
      font-size: 14px;
    }
    .magazine-date {
      position: absolute;
      z-index: 5;
    }
  }
  .magazine-date {
    background-color: $secondary;
    color: $primary;
    font-weight: 700;
    font-size: 14px;
    padding: 4px 8px;
    &.draft {
      color: $white;
      background-color: $danger;
    }
    &.scheduled {
      background-color: $success;
    }
  }
}

.top-discovery-section {
  padding-bottom: 64px;
  border-bottom: solid 2px $primary;
  .top-discovery-container {
    @include touch {
      margin: 0 16px;
    }
  }
  .carousel-title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 16px;
  }
  #product-splide {
    margin-bottom: 6em;
    @include mobile {
      margin-bottom: 2em;
    }
    .splide__list {
      @include mobile {
        padding-right: 4rem !important;
      }
    }
    .splide__slide {
      width: 100%;
      height: auto;
      .product-card-image {
        display: block;
        position: relative;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border: solid 1px $primary;
          background: $dark-gray;
        }
      }
      .slide-title {
        font-size: 1.5rem;
        font-weight: 600;
        @include touch {
          font-size: 1.2rem;
        }
      }
    }
    .splide__arrow {
      background: $white;
      cursor: pointer;
      position: absolute;
      top: unset;
      bottom: -3em;
      transform: unset;
      z-index: 1;
      align-items: center;
      display: flex;
      justify-content: center;
      height: 2em;
      width: 4em;
      border-radius: 4px;
      border: solid 1px $primary90;
      color: $primary90;
      font-size: 20px;
      &:focus-visible {
        outline: unset;
      }
    }
    .splide__pagination {
      bottom: -3em;
      .is-active {
        background-color: $primary;
      }
    }
    .product-card-content {
      padding: 0.5rem;
    }
  }
}

.top-community-section {
  padding-bottom: 64px;
  .top-community-container {
    @include touch {
      margin: 0 16px;
    }
  }
  .instagram-list-header {
    margin-bottom: 32px;
    .instagram-list-title {
      font-size: 28px;
    }
  }
  .instagram-list-section {
    @include desktop {
      padding: 0 64px;
    }
  }
  .instagram-feeds {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
    img {
      aspect-ratio: 1 / 1;
      object-fit: cover;
    }
  }
}

.about-section {
  margin-bottom: 64px;
  @include touch {
    margin: 0 10px 64px;
  }
  .about-image {
    margin: 0 auto 16px;
    text-align: center;
    img {
      width: 400px;
      height: 400px;
      @include mobile {
        width: 240px;
        height: 240px;
      }
    }
  }
  .about-message {
    line-height: 28px;
  }
}
