@use '../base' as *;
@use '../variables' as *;
@use '../common/share' as *;

.knowledge-section {
  margin-bottom: 24px;
  .knowledge-container {
    @include touch {
      margin: 0 16px;
    }
  }
  .knowledge-title {
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.125;
    margin-bottom: 32px;
  }

  .knowledge-brand-header {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-bottom: 16px;
    padding: 2rem;
    @include touch {
      width: 100vw;
      margin-right: calc(50% - 50vw);
      margin-left: calc(50% - 50vw);
      padding: 2rem 0;
      margin-bottom: 8px;
    }
  }

  .knowledge-item-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 16px;
    padding: 2rem;
    @include touch {
      width: 100vw;
      margin-right: calc(50% - 50vw);
      margin-left: calc(50% - 50vw);
      padding: 2rem 0;
      margin-bottom: 8px;
    }
  }

  .knowledge-line-header {
    align-items: center;
    margin-bottom: 8px;
    .line-title {
      font-size: 2rem;
      font-weight: 600;
      line-height: 1.125;
    }
    img {
      background-color: $dark-gray;
      border: solid 1px $primary;
    }
    @include mobile {
      .media-content {
        overflow-y: hidden;
      }
      img {
        height: 74px;
        width: 74px;
      }
    }
  }

  .knowledge-description {
    padding: 0.5rem;
    line-height: normal;
  }

  .knowledge-card {
    padding: 0 14px;
    @include mobile {
      padding: 4px;
    }
    .knowledge-card-header {
      color: $primary;
      font-weight: 600;
      font-size: 18px;
      height: 48px;
      overflow: hidden;
      display: flex;
      align-items: flex-end;
    }
    .knowledge-card-image {
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border: solid 1px $primary;
        background-color: $dark-gray;
      }
    }
    .default-card {
      text-align: center;
      .default-card-image {
        border: solid 1px $primary;
      }
      .default-card-image img {
        padding: 1rem;
        background-color: $dark-gray;
        opacity: .1;
      }
      .default-card-name {
        position: absolute;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 1.6rem;
        font-weight: 700;
        overflow-wrap: anywhere;
        word-break: keep-all;
      }
    }
    .knowledge-state-draft {
      position: absolute;
      z-index: 5;
      background-color: $danger;
      color: $white;
      font-size: 14px;
      padding: 4px 8px;
    }
  }
  .knowledge-image {
    img {
      width: 100%;
      height: auto;
      aspect-ratio: 16 / 9;
      object-fit: contain;
      display: block;
      margin: 0 auto 32px;
    }
  }
  .knowledge-body {
    margin-bottom: 32px;
  }
  .knowledge-sub-title {
    margin-bottom: 16px;
    font-size: 1.4rem;
    font-weight: 600;
  }
  .knowledge-instagram-embed {
    margin-bottom: 32px;
    @include tablet {
      padding-left: 3em;
    }
  }
  .knowledge-topic-sentence {
    position: relative;
    margin: 0 8px 24px;
    padding: 1.2em;
    overflow-wrap: break-word;
    background: $secondary;
    @include mobile {
      font-size: 1.1rem;
    }
    &:before {
      position: absolute;
      top: -8px;
      left: -8px;
      width: 100%;
      height: 100%;
      content: '';
      border: 4px solid $primary;
    }
  }
  .knowledge-summary {
    margin-bottom: 32px;
    padding: 0 1em;
    color: $primary;
    font-weight: 600;
    font-size: 1.1rem;
  }
  .no-knowledge-cards {
    padding: 2.5rem 0;
  }

  .knowledge-draft-message {
    padding: 1rem 0;
    margin-bottom: 24px;
    text-align: center;
    color: $white;
    background-color: $danger;
  }

  .knowledge-identification {
    margin-bottom: 32px;
    .mermaidContainer {
      padding: 1em;
      background-color: $light-gray;
      border: 1px solid $primary;
      border-radius: 8px;
      .mermaidBox, .skelton {
        display: flex;
        align-items: center;
        height: 600px;
        @include mobile {
          height: 350px;
        }
      }
      .mermaid {
        text-align: center;
        width: 100%;
        @include mobile {
          width: 100%;
        }
        svg {
          max-height: 600px;
          @include mobile {
            max-height: 350px;
          }
        }
      }
    }
  }

  .knowledge-price-histogram {
    margin-bottom: 24px;
    .chartContainer {
      overflow-x: auto;
      overflow-y: hidden;
    }
    .chartBox {
      min-width: 560px;
      min-height: 432px;
      padding: 16px;
      background-color: $light-gray;
      border: solid 1px $primary;
      border-radius: 8px;
    }
  }

  .knowledge-price {
    margin-bottom: 32px;
    .knowledge-price-info {
      background: $light-gray;
      padding: 32px;
      border: solid 1px $primary;
      border-radius: 8px;
      .level-item {
        .average-price {
          color: $denim;
        }
        @include mobile {
          margin-bottom: 24px;
        }
      }
      .product-link .button {
        border: $primary solid 1px;
      }
    }
  }

  .knowledge-relation {
    .knowledge-card-header {
      height: auto;
    }
  }

  .knowledges-table {
    th,td{
      vertical-align: inherit;
    }
    th {
      text-align: center;
    }
  }
  .form-section{
    margin-bottom: 32px;

    .mermaid-textarea{
      margin-bottom: 16px;
    }
    .mermaid {
      padding: 1em;
      background: #fff;
    }
  }

  .knowledge-edit {
    margin-top: 2rem;
  }
}
