@use '../base' as *;
@use '../variables' as *;
@use '../common/share' as *;

.magazine-section {
  margin-bottom: 24px;
  .magazine-container {
    padding: 0 1em;
    .magazine-title {
      font-size: 1.6rem;
      font-weight: 600;
      margin-bottom: 32px;
      color: $primary;
    }
    .magazine-header-date {
      margin-bottom: 16px;
    }
    .magazine-content {
      .magazine-thumbnail {
        text-align: center;
        img {
          margin: 16px auto;
          width: 100%;
          max-width: 800px;
          max-height: 500px;
          object-fit: contain;
        }
      }
      .magazine-body {
        margin-bottom: 24px;
      }
    }
    .magazine-tags {
      margin-bottom: 40px;
      font-size: 14px;
      ul {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 4px;
      }
      .button {
        padding-left: calc(1em);
        padding-right: calc(1em);
        border-color: $primary;
        color: $primary;
      }
      .icon-tag {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        color: $white;
        background-color: $primary;
      }
    }
    .magazine-related-title {
      margin-bottom: 24px;
      font-size: 1.2rem;
      .magazine-related-title-text {
        border: solid 1px $primary;
        box-shadow: -8px 0px 0px 0px #fcd900;
      }
    }
  }
  .form-section {
    margin-bottom: 20px;
  }
  #magazine-list {
    min-height: 800px;
  }
  .magazine-cards {
    .magazine-card {
      margin-bottom: 24px;
    }
    .magazine-card-image {
      margin-bottom: 8px;
      img {
        object-fit: cover;
        border: solid 1px $primary;
        border-radius: 4px;
      }
    }
    .magazine-card-header {
      font-size: 14px;
    }
    .magazine-date {
      position: absolute;
      z-index: 5;
    }
  }

  .read-more-button {
    i {
      margin-right: 6px;
    }
  }

  .magazine-date {
    background-color: $secondary;
    color: $primary;
    font-size: 14px;
    padding: 4px 8px;
    border: 1px solid $primary;
    border-radius: 4px 0;
    &.draft {
      color: $white;
      background-color: $danger;
    }
    &.scheduled {
      background-color: $success;
    }
  }

  .magazine-ranking-container {
    padding-left: 24px;
    border-left: solid 1px $primary;
    @include touch {
      margin: 0 16px;
      padding-left: 0;
      border-left: none;
    }

    .ranking-title {
      padding: 1em 0;
      border-bottom: 1px solid $dark-gray;
      font-size: 1.2rem;
      font-weight: 700;
      .ranking-title-text {
        border: solid 1px $primary;
        box-shadow: -8px 0px 0px 0px #fcd900;
      }
    }
    .magazine-ranking-list {
      display: flex;
      flex-flow: revert;
      flex-direction: column;
      margin-bottom: 10px;
      a {
        text-decoration: none;
      }
    }
    .magazine-ranking-item {
      display: flex;
      padding: 1em 0;
      gap: 16px;
      border-bottom: 1px solid $dark-gray;
    }
    .magazine-ranking-left {
      min-width: 80px;
      position: relative;
      img {
        aspect-ratio: 1 / 1;
        height: 80px;
        border-radius: 4px;
        object-fit: cover;
      }
      .ranking-number {
        position: absolute;
        top: -8px;
        left: -8px;
        width: 24px;
        height: 24px;
        border-radius: 4px;
        color: $white;
        background-color: $primary;
        text-align: center;
        font-size: 1rem;
        font-weight: 700;
        line-height: 24px;
        z-index: 5;
      }
    }
    .magazine-ranking-right {
      .magazine-title {
        margin-bottom: 8px;
        font-size: .9rem;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        line-clamp: 3;
        overflow: hidden;
        font-weight: 400;
        &:hover {
          text-decoration: underline;
        }
      }
      .magazine-tags {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 0px;
        gap: 4px;
      }
      .magazine-tag {
        font-size: .7rem;
        border: solid 1px $primary;
        padding: 0.25em 0.5em;
        border-radius: 9999px;
      }
    }
  }
}

