@use '../base' as *;
@use '../variables' as *;
@use '../common/share' as *;

.magazine-section {
  margin-bottom: 24px;
  .magazine-container {
    padding: 0 1em;
    .magazine-title {
      font-size: 1.6rem;
      font-weight: 600;
      margin-bottom: 32px;
      color: $primary;
    }
    .magazine-header-date {
      margin-bottom: 16px;
    }
    .magazine-content {
      .magazine-thumbnail {
        text-align: center;
        img {
          margin: 16px auto;
          width: 100%;
          max-width: 800px;
          max-height: 500px;
          object-fit: contain;
        }
      }
      .magazine-body {
        margin-bottom: 24px;
      }
    }
    .magazine-tags {
      margin-bottom: 40px;
      font-size: 14px;
      ul {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 4px;
      }
      .button {
        padding-left: calc(1em);
        padding-right: calc(1em);
        border-color: $primary;
        color: $primary;
      }
      .icon-tag {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        color: $white;
        background-color: $primary;
      }
    }
    .magazine-related-title {
      margin-bottom: 24px;
      font-size: 1.2rem;
      .magazine-related-title-text {
        border: solid 1px $primary;
        box-shadow: -8px 0px 0px 0px #fcd900;
      }
    }
  }
  .form-section {
    margin-bottom: 20px;
  }
  .magazine-cards {
    .magazine-card {
      margin-bottom: 24px;
    }
    .magazine-card-image {
      margin-bottom: 8px;
      img {
        object-fit: cover;
        border: solid 1px $primary;
        border-radius: 4px;
      }
    }
    .magazine-card-header {
      font-size: 14px;
    }
    .magazine-date {
      position: absolute;
      z-index: 5;
    }
  }

  .magazine-date {
    background-color: $secondary;
    color: $primary;
    font-size: 14px;
    padding: 4px 8px;
    border: 1px solid $primary;
    border-radius: 4px 0;
    &.draft {
      color: $white;
      background-color: $danger;
    }
    &.scheduled {
      background-color: $success;
    }
  }
}

