@import '../base';
@import '../common/share';

.magazine-section {
  margin-bottom: 24px;
  .magazine-container {
    @include touch {
      margin: 0 16px;
    }
    .magazine-title {
      font-size: 1.6rem;
      font-weight: 600;
      margin-bottom: 32px;
      color: $primary;
    }
    .magazine-header-date {
      margin-bottom: 16px;
    }
    .magazine-content {
      img {
        object-fit: contain;
        width: 80%;
        margin: 16px auto;
        max-height: 500px;
        max-width: 800px;
      }
      .magazine-body {
        padding: 8px;
        margin-bottom: 24px;
      }
    }
    .magazine-tags {
      margin-bottom: 32px;
      font-size: 14px;
      ul {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 4px;
      }
      .button {
        padding-left: calc(1em);
        padding-right: calc(1em);
        border-color: $primary;
        color: $primary;
        // [TODO]リンク先が決まったら外す
        cursor: default;
      }
      .icon-tag {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        color: $white;
        background-color: $primary;
      }
    }
  }
  .form-section {
    margin-bottom: 20px;
  }
  .magazine-cards {
    .magazine-card {
      padding: 0 14px;
      margin-bottom: 16px;
      @include mobile {
        padding: 4px;
      }
    }
    .magazine-card-image {
      margin-bottom: 16px;
      img {
        object-fit: cover;
      }
    }
    .magazine-card-header {
      font-size: 14px;
    }
    .magazine-date {
      position: absolute;
      z-index: 5;
    }
  }

  .magazine-date {
    background-color: $secondary;
    color: $primary;
    font-weight: 700;
    font-size: 14px;
    padding: 4px 8px;
    &.draft {
      color: $white;
      background-color: $danger;
    }
    &.scheduled {
      background-color: $success;
    }
  }
}

