@use '../base' as *;
@use '../variables' as *;
@use '../common/share' as *;

.product-section {
  @include touch {
    margin: 20px 10px;
  }
  .product-header {
    display: flex;
    align-items: center;
    column-gap: 10px;
    margin-bottom: 8px;
    .product-title {
      font-size: 2rem;
      font-weight: 600;
      line-height: 1.125;
      @include touch {
        font-size: 1.5rem;
      }
    }
  }
  .ad {
    margin: 8px;
    text-align: right;
    font-size: 16px;
    color: $primary70;
  }
  #product-table {
    min-height: 400px;
  }
  .MuiTableContainer-root {
    overflow-x: auto;
    .tableHead {
      text-align: center;
    }
    .tableRow {
      cursor: pointer;
    }
    .platformImage {
      max-width: 128px;
      @include touch {
        max-width: 64px;
      }
    }
  }
  .MuiTablePagination-root {
    @include mobile {
      .MuiTablePagination-selectLabel, .MuiInputBase-root {
        display: none;
      }
    }
  }
}
