@use '../base' as *;
@use '../variables' as *;
@use '../common/share' as *;

.product-section {
  @include touch {
    margin: 20px 10px;
  }
  .product-header {
    display: flex;
    align-items: center;
    column-gap: 10px;
    margin-bottom: 8px;
    .product-title {
      font-size: 2rem;
      font-weight: 600;
      line-height: 1.125;
      @include touch {
        font-size: 1.5rem;
      }
    }
    .knowledge-button {
      border: solid 1px $primary;
    }
  }
  .ad {
    margin: 8px;
    text-align: right;
    font-size: 16px;
    color: $primary70;
  }
  .product-table {
    height: 860px;
    .tableContainer {
      .MuiPaper-root {
        border: solid 1px $primary;
        border-radius: 8px;
        box-shadow: none;
      }
      .MuiTableContainer-root {
        overflow-x: auto;
      }
      .tableHead {
        text-align: center;
      }
      .tableRow {
        cursor: pointer;
      }
      .platformImage {
        max-width: 128px;
        height: auto;
        object-fit: contain;
        @include touch {
          max-width: 64px;
        }
      }
      @include mobile {
        .MuiTablePagination-selectLabel, .MuiInputBase-root {
          display: none;
        }
      }
    }
  }
}
