@use '../base' as *;
@use '../variables' as *;
@use '../common/share' as *;

.product-section {
  @include touch {
    margin: 20px 10px;
  }
  .product-header {
    display: flex;
    align-items: center;
    column-gap: 10px;
  }
  .product-title {
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.125;
  }
  .product-image {
    img {
      object-fit: contain;
      width: 80%;
      margin: 20px auto;
      max-width: 800px;
      max-height: 500px;
    }
  }
  .size-buttons {
    .is-selected {
      background-color: $primary;
      border-color: transparent;
      color: $white;
    }
  }
  .product-link {
    cursor: pointer;
  }
  .product-information {
    display: flex;
    .ad {
      display: flex;
      align-items: flex-end;
      margin-left: auto;
      font-size: 16px;
      color: $primary50;
    }
  }
  .platform-col {
    // TODO:表示を確認
    // vertical-align: middle;
  }
  .platform-image {
    max-width: 128px;
    max-height: 48px;
    vertical-align: middle;
    @include touch {
      max-width: 64px;
      max-height: 24px;
    }
  }
  .price-col {
    white-space: nowrap;
  }
}
