@use '../base' as *;

.user-section {
  justify-content: center;
  margin-bottom: 48px;

  .user-container {
    @include touch {
      margin: 0 16px;
    }
  }

  .user-profile {
    padding: 4em 2em;
    text-align: center;
    border: 1px solid $primary;
    border-radius: 10px;
    margin: 0 auto;
    max-width: 320px;
  }

  .user-icon {
    max-width: 200px;
    border-radius: 50%;
    margin-bottom: 24px;
  }

  .user-name {
    margin-bottom: 24px;
    color: $primary;
    font-weight: 700;
  }

  .user-introduction {
    overflow-wrap: break-word;
  }
}
