<div class='category-section'>
  <p class='title'>カテゴリー</p>
  <ul class='category-list'>
    <% categories.each do |category| %>
      <li class='category-item'>
        <%= link_to category.name, terms_category_path(category.name), class: 'category' %>
      </li>
    <% end %>
  </ul>
</div>
