<section class='term-section'>
  <%= render partial: 'shared/section_headline', locals: { title: 'Terms' } %>
  <div class='term-container container'>
    <h2 class='term-name'>用語編集</h2>
    <%= render 'form', term: @term %>
    <ul>
      <li><%= link_to 'Terms一覧', terms_path %></li>
      <% @term.categories.select { |category| category.name.present? }.each do |category| %>
        <li><%= link_to "#{category.name}の用語一覧", terms_category_path(category.name) %></li>
      <% end %>
    </ul>
  </div>
</section>
