<section class='term-section'>
  <%= render partial: 'shared/section_headline', locals: { title: 'Terms' } %>
  <div class='term-container container'>
    <h2 class='term-name'>用語登録</h2>
    <%= render 'form', term: @term %>
    <%= link_to 'Terms一覧に戻る', terms_path %>
  </div>
</section>
