<div class="flex-container">
  <div class="box">
    <% if @user.icon_url.present? %>
      <%= image_tag @user.icon_url, class: 'user-icon' %>
    <% end %>
    <h2 class="user-name"><%= @user.name %></h2>
    <p class="user-introduction">
      <%= @user.introduction.present? ? @user.introduction : "自己紹介はまだありません" %>
    </p>
  </div>
</div>
