<% if flash.notice %>
  <div class='notification has-text-centered has-text-weight-bold is-success mt-2'>
    <i class="fa-solid fa-circle-check"></i>
    <%= notice %>
  </div>
<% end %>
<% if flash.alert %>
  <div class='notification has-text-centered has-text-weight-bold is-danger mt-2'>
    <i class="fa-solid fa-circle-exclamation"></i>
    <%= alert %>
  </div>
<% end %>
