<% if flash.notice %>
  <div class='notification has-text-centered has-text-weight-bold is-success is-light m-2'>
    <%= notice %>
  </div>
<% end %>
<% if flash.alert %>
  <div class='notification has-text-centered has-text-weight-bold is-danger is-light m-2'>
    <%= alert %>
  </div>
<% end %>
