<div class='hero is-small is-dark'>
  <div class='hero-body'>
    <div class='container'>
      <h1 class='title'>
        <span class='hero-title-number'><%= number %>.</span><%= title %>
      </h1>
    </div>
  </div>
</div>
