<div class='knowledge-instagram'>
  <h3 class='knowledge-sub-title'>
    Instagram
  </h3>
  <div class='knowledge-instagram-embed'>
    <iframe class='instagram-media instagram-media-rendered'
            title='knowledge-instagram'
            id='instagram-embed-0'
            src='<%= instagram_url %>&amp;v=14&amp;wp=960&amp;rd=https%3A%2F%2Fvook.tokyo&amp;rp=%2Fknowledges%2F10#%7B%22ci%22%3A0%2C%22os%22%3A215.7000002861023%2C%22ls%22%3A88.60000038146973%2C%22le%22%3A109.5%7D'
            allowtransparency='true'
            allowfullscreen='true'
            frameborder='0'
            height='686'
            data-instgrm-payload-id='instagram-media-payload-0'
            scrolling='no'
            style='background: white; max-width: 480px; width: calc(100% - 2px); border-radius: 3px; border: 1px solid rgb(219, 219, 219); box-shadow: none; display: block; margin: 0px 0px 12px; min-width: 326px; padding: 0px;'>
    </iframe>
  </div>
</div>
