<div class='section-headline container'>
  <div class='section-headline-content'>
    <h1 class='section-headline-main'>
      <% if defined?(number) %>
        <span class='section-headline-prefix'>
          <%= number %>
        </span>
        <span class='section-headline-text'>
          <%= title %>
        </span>
      <% else %>
        <%= title %>
      <% end %>
    </h1>
  </div>
</div>
