<section>
  <%= render partial: 'shared/hero_banner', locals: { title: '1.Vook Magazine' } %>
  <div class='magazine-section container'>
    <h2 class='title'>Magazine編集</h2>
    <%= render 'form', magazine: @magazine %>
    <%= link_to '記事に戻る', @magazine %> |
    <%= link_to 'Magazine一覧に戻る', magazines_path %>
  </div>
</section>
