<%= render partial: 'shared/section_headline', locals: { number: '03', title: 'Community' } %>
<div class='top-community-container container'>
  <div class='instagram-list-section'>
    <div class='instagram-list-header'>
      <p class='instagram-list-title'>Instagram</p>
      <p class='instagram-list-sub-title'>@vook.vintagebook</p>
    </div>
    <div class='instagram-list-body'>
      <div class='instagram-feeds'>
        <% @instagram_feeds.each do |feed| %>
          <div class='instagram-feed'>
            <%= link_to feed['permalink'], target: '_blank', rel: 'noopener noreferrer' do %>
              <%= image_tag feed['media_url'], size: '297x297', alt: truncate(feed['caption'], length: 50), loading: 'lazy' %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
