<section>
  <%= render partial: 'shared/hero_banner', locals: { number: 9, title: 'About' } %>
  <div class='container'>
    <p>Vook【V(intage)+(B)ook】は、『古着を楽しむための基本的な知識』を発信するヴィンテージに特化したキュレーションメディアです。</p>
    <p>さまざまな媒体に散らばっている古着知識をキュッと凝縮した言うなれば「本」のようなものです。</p>
    <p>『Knowledge』</p>
    <p>『Magazine』</p>
    <p>『Discovery』</p>
    <p>『Community』</p>
    <p>ヴィンテージに特化したコンテンツを用意しています。ビギナーからマニアの方も楽しめる、今までありそうで無かったものを目指してVookはヴィンテージファッションの情報と体験を提供します。</p>
  </div>
</section>
