<section class='section'>
  <div class='container'>
    <div class='content has-text-centered'>
      <h1 class='title is-1'>404</h1>
      <p>ご指定になったページは存在しません</p>
    </div>
    <%= link_to 'トップページに戻る', root_path %>
  </div>
</section>
