<section class='item-section'>
  <%= render partial: 'shared/section_headline', locals: { title: 'Item' } %>
  <div class='item-container container'>
    <h2 class='item-title'>Item作成</h2>
    <%= render 'form', item: @item %>

    <%= link_to '管理画面に戻る', admin_path %>
  </div>
</section>
