<% content_for :stylesheet do %>
  <%= stylesheet_link_tag 'page/admin' %>
<% end %>

<section class='admin-section'>
  <%= render partial: 'shared/section_headline', locals: { title: 'Item' } %>
  <div class='admin-container container'>
    <h2 class='item-title title'>Item作成</h2>
    <%= render 'form', item: @item %>

    <%= link_to '管理画面に戻る', admin_path %>
  </div>
</section>
