@use '../base' as *;
@use 'choices.js/src/styles/choices.scss';

.choices {
  &__inner {
    background-color: $light-gray;
    border: solid 1px $primary;
  }
  &__list {
    z-index: 10 !important;
    color: $primary;
  }
  &__placeholder {
    opacity: 1;
  }
}

.choices-input {
  .choices__inner {
    background-color: $white;
    border-radius: 4px;
    border: 2px solid hsl(0deg, 0%, 86%);
  }
  .choices__list--multiple .choices__item {
    border-radius: 8px;
    background-color: $primary;
    border: 1px solid $white;
    .choices__button {
      border-left: 1px solid $white;
    }
    &.is-highlighted {
      background-color: $primary;
      border: 1px solid $white;
    }
  }
  .choices__input {
    background-color: $white;
    width: auto !important;
  }
}
