@use "../base" as *;

.header {
  .navbar {
    height: 64px;
    @include mobile {
      height: 0;
    }
  }
  .navbar-brand {
    align-items: center;
    img {
      max-width: 100%;
      height: auto;
    }
  }
  .header-sns-icons {
    display: flex;
    .fa-square-instagram {
      font-size: 2.0rem;
    }
    .fa-tiktok {
      font-size: 1.8rem;
    }
  }
  @include mobile {
    .navbar-brand {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
    }
    .navbar-burger {
      position: absolute;
      right: 0;
      background-color: $white;
    }
    .navbar-end {
      text-align: center;
    }
    .navbar-menu {
      display: block;
      opacity: 0;
      position: absolute;
      left: 0;
      right: 0;
      transform: translateY(-70%);
      transition: all 0.4s ease;
      pointer-events: none;
      .header-sns-icons {
        display: flex;
        justify-content:center
      }
    }
    .navbar-menu.is-active {
      opacity: 1;
      transform: none;
      pointer-events: auto;
    }
  }
}
