@use '../base' as *;

.section-headline {
  .section-headline-content {
    padding: 3rem 0;
    @include touch {
        padding: 2.5rem 0rem;
      }
    }

  .section-headline-main {
    display: flex;
    align-items: center;
    padding-left: 1rem;
    font-size: 40px;
    font-weight: 600;
    border-left: solid 16px $primary;
    color: $primary;
    @include mobile {
      font-size: 32px;
    }
  }

  .section-headline-prefix {
    border-right: solid 4px $primary;
    padding-right: 16px;
    margin-right: 16px;
  }
}
