@use '../variables' as *;
@use '../mixins' as *;
@import 'trix/dist/trix';

.trix-content {
  * {
    color: $primary;
    overflow-wrap: anywhere;
    line-height: 2;
  }
  a {
    color: $blue;
    text-decoration: underline;
  }
  ul {
    list-style: disc;
  }
  h3 {
    font-size: 1.2rem;
  }
  p {
    @include mobile {
      font-size: 0.9rem;
    }
  }
  img {
    display: block !important;
    object-fit: contain;
    width: 80%;
    margin: 8px auto;
    max-height: 500px;
    max-width: 800px;
  }
  .attachment__credit {
    font-size: 0.8rem;
    text-align: center;
    a {
      color: $blue;
      text-decoration: underline;
    }
  }
}

trix-editor {
  min-height: 35em;
  max-height: 35em;
  overflow-y: auto;
  a {
    color: $blue;
  }
  &.textarea:not([rows]) {
    min-height: 24em;
  }
  ol, ul {
    list-style: revert;
    list-style-position: inside;
  }
}

.trix-content .attachment--preview,
.trix-content .attachment,
.content figure {
  all: initial;
}

.attachment--preview {
  margin: 0.6em 0;
  text-align: center;
  width: 100%;
}

.tribute-container {
  border: 1px solid $dark-gray;

    li {
    background: $white;
    padding: 0.2em 1em;
    min-width: 14em;
    max-width: 100%;
  }

  .highlight {
    background: $denim;
    color: $white;
    font-weight: bold;
  }
}
