@use '../variables' as *;

.breadcrumb-list {
  margin-bottom: 32px;

  ul {
    display: flex;
    align-items: center;
  }

  li {
    display: inline-flex;
    &:after {
      content: '>';
      padding: 0 0.5em;
    }
    &:last-child:after {
      content: '';
    }
  }

  .breadcrumb-group {
    display: flex;
    align-items: center;
    .group-slash {
      padding: 0 0.5em;
      font-size: 0.8rem;
    }
  }
}
