@use '../variables' as *;

.breadcrumb-list {
  margin-bottom: 32px;

  ul {
    display: flex;
    align-items: center;
    overflow-x: scroll;
    white-space: nowrap;
  }

  li {
    display: inline-flex;
    align-items: center;

    &:after {
      content: '>';
      padding: 0 0.5em;
    }
    &:last-child:after {
      content: '';
    }
  }

  .breadcrumb-group {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
