@use '../variables' as *;
@use '../mixins' as *;

.footer {
  padding: 3rem 1.5rem 2rem !important;
  background-color: $primary !important;
  color: $dark-gray;
  a {
    color: $white;
  }

  .footer-columns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    @include mobile {
      display: block;
    }
  }

  .footer-logo {
    text-align: center;
    margin-bottom: 16px;
    .logo-mark {
      filter: brightness(0) invert(1);
    }
  }

  .footer-sns {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 16px;

    @include mobile {
      justify-content: center;
    }

    .footer-sns-title {
      font-size: 14px;
      margin-right: 8px;
    }

    .footer-sns-icons {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 16px;

      .fa-instagram {
        font-size: 2.4rem;
      }
    }
  }

  .footer-illustrations {
    width: fit-content;
    margin: 0 auto 24px;

    .footer-illustrations-title {
      align-self: flex-start;
      font-size: 14px;
      margin-bottom: 8px;
    }
  }

  .footer-item {
    text-align: center;

    .footer-link {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 8px;
      font-size: 12px;
      margin-bottom: 8px;
      .border {
        height: 12px;
        border-right: 1px solid $white;
      }
    }
  }

  .copy-right {
    font-size: 11px;
    font-weight: bold;
  }
}
