<div class='knowledge-cards columns is-mobile is-multiline'>
  <% objects.each do |object| %>
    <div class='column is-one-quarter-tablet is-half-mobile'>
      <div class='knowledge-card card'>
        <%= link_to(params[:controller] == 'lines' ? knowledge_path(object) : line_path(object.name)) do %>
          <div class='knowledge-card-content'>
            <div class='knowledge-card-header'>
              <%= object.name %>
            </div>
            <div class='knowledge-card-image'>
              <% if object.image %>
                <figure class='image is-square'>
                  <% if object.image.attached? %>
                    <%= image_tag object.image.variant(resize_to_limit: [400, 400]) %>
                  <% else %>
                    <%= image_tag('product-sample.jpg', alt: 'product-sample') %>
                  <% end %>
                </figure>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
