<div class='knowledge-cards columns is-mobile is-multiline'>
  <% objects.each do |object| %>
    <div class='column is-one-quarter-tablet is-half-mobile'>
      <div class='knowledge-card card'>
        <% link_path = %w[brands items].include?(params[:controller]) ? line_path(object.name) : knowledge_path(object) # rubocop:disable Lint/UselessAssignment %>
        <%= link_to link_path do %>
          <div class='knowledge-card-content'>
            <div class='knowledge-card-header'>
              <%= object.name %>
            </div>
            <div class='knowledge-card-image'>
              <% if object.image %>
                <figure class='image is-square'>
                  <% if object.image.attached? %>
                    <%= image_tag object.image.variant(resize_to_limit: [400, 400]), alt: '' %>
                  <% else %>
                    <%= image_tag('product-sample.jpg', alt: '', size: '400x400') %>
                  <% end %>
                </figure>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
