<section>
  <%= render partial: 'shared/hero_banner', locals: { title: '0.Knowledge' } %>
  <div class='knowledge-section container'>
    <h2 class='title'>Knowledge編集</h2>
    <%= render 'form', knowledge: @knowledge %>
    <%= link_to '記事に戻る', @knowledge %> |
    <%= link_to 'Knowledge一覧に戻る', knowledges_path %>
  </div>
</section>
