<section class='knowledge-section'>
  <%= render partial: 'shared/hero_banner', locals: { number: 0, title: 'Knowledge' } %>
  <div class='knowledge-container container'>
    <h2 class='title'>Knowledge作成</h2>
    <%= render 'form', knowledge: @knowledge %>

    <%= link_to 'Knowledge一覧に戻る', knowledges_path %>
  </div>
</section>
