.trix-content * {
  overflow-wrap: anywhere;
  line-height: 2;
  a {
    color: $blue;
  }
}

trix-editor {
  min-height: 35em;
  max-height: 35em;
  overflow-y: auto;
}

.trix-content .attachment--preview,
.trix-content .attachment,
.content figure {
  all: initial;
}
