@charset "utf-8";

// Import a Google Font
// @import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200&display=swap');

// Set your brand colors
$indigo: #0e1f4c;
$red: #c41230;
$white: #fff;
$black: #444444;
$beige-light: #F7F7F7;
$beige-lighter: #EFEFEF;
$gray: #e6e6e6;

// SNS color
$twitter: #0F1419;
$facebook: #1877f2;
$line: #06C755;

// Update Bulma's global variables
$family-sans-serif: 'IBM Plex Sans', 'Noto Sans JP', 'Helvetica Neue', Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
$grey-dark: $black;
$primary: $black;
$success: $indigo;
$info: $red;
$danger: $red;
$link: $indigo;

body {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  a:hover {
    text-decoration: underline;
    img {
      opacity: .8;
    }
  }
  .card {
    height: 100%;
    img {
      object-fit: cover;
    }
  }
}
main {
  flex: 1;
}
.input:focus {
  border: solid 1px gray;
}

// Update some of Bulma's component variables
$container-max-width: 1100px;
$navbar-breakpoint: 768px;
$hero-body-padding-small: 1.5rem 1rem;
$body-background-color: $white;
$control-border-width: 2px;
$footer-padding: 3rem 1.5rem;
$footer-background-color: $primary;
$input-shadow: none;
$section-padding: 20px;
$button-border-width: 1px;
$card-header-padding: 0px;
$card-content-padding: 1.0rem;
$card-radius: 0;
$card-shadow: none;
$column-gap: 0.25rem;
$tabs-link-color: #808080;
$tabs-link-active-color: $primary;

// Import only what you need from Bulma
@import "bulma/sass/utilities/_all.sass";
@import "bulma/sass/base/_all.sass";
@import "bulma/sass/elements/button.sass";
@import "bulma/sass/elements/container.sass";
@import "bulma/sass/elements/title.sass";
@import "bulma/sass/form/_all.sass";
@import "bulma/sass/components/navbar.sass";
@import "bulma/sass/layout/hero.sass";
@import "bulma/sass/layout/section.sass";

@import 'bulma/bulma';
@import '@creativebulma/bulma-tooltip/src/sass/index.sass';
@import '@creativebulma/bulma-divider/src/sass/index.sass';
@import '@splidejs/splide/src/css/template/default/index.scss';
@import 'choices.js/src/styles/choices.scss';

@import "header";
@import "footer";
@import "home";
@import "tabs";
@import "knowledge";
@import "magazine";
@import "product";
@import "pageloader";
@import "share";
@import "choices";
@import 'actiontext';
@import "trix/dist/trix";
