@charset "utf-8";

// Import a Google Font
// @import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200&display=swap');

// Set your brand colors
$orange: #ED6C00;
$white: #fff;
$black: #444444;
$beige-light: #F7F7F7;
$beige-lighter: #EFEFEF;
$gray: #777777;

// Update Bulma's global variables
$family-sans-serif: 'Helvetica Neue', Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
$grey-dark: $black;
$primary: $black;
$info: $orange;
$danger: $orange;

body {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}
main {
  flex: 1;
}
.input:focus {
  border: solid 1px gray;
}

// Update some of Bulma's component variables
$container-max-width: 1100px;
$body-background-color: $white;
$control-border-width: 2px;
$input-shadow: none;
$section-padding: 20px;
$tabs-link-color: #808080;
$button-border-width: 1px;
$card-content-padding: 20px;
$card-header-padding: 0px;
$footer-padding: 3rem 1.5rem;
$column-gap: 0.25rem;
$tabs-link-active-color: $gray;

// Import only what you need from Bulma
@import "bulma/sass/utilities/_all.sass";
@import "bulma/sass/base/_all.sass";
@import "bulma/sass/elements/button.sass";
@import "bulma/sass/elements/container.sass";
@import "bulma/sass/elements/title.sass";
@import "bulma/sass/form/_all.sass";
@import "bulma/sass/components/navbar.sass";
@import "bulma/sass/layout/hero.sass";
@import "bulma/sass/layout/section.sass";

@import 'bulma/bulma';

@import "footer";
@import "header";
@import "home";
@import "tabs";
@import "knowledge";
@import "magazine";
@import "trix/dist/trix";
@import 'actiontext.css';
