.footer {
  padding: 3rem 1.5rem !important;
  background-color: $primary !important;
  color: $dark-gray;
  a {
    color: $white;
  }

  .footer-columns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    @include mobile {
      display: block;
    }
  }

  .footer-logo {
    text-align: center;
    margin-bottom: 16px;
    .logo-mark {
      filter: brightness(0) invert(1);
    }
  }

  .footer-sns-icons {
    display: flex;
    margin-bottom: 16px;
    justify-content: center;
    align-items: center;
    gap: 24px;

    .fa-instagram {
      font-size: 2.4rem;
    }
  }

  .footer-item {
    text-align: center;
  }

  .footer-link {
    margin-bottom: 16px;
    li {
      margin-bottom: 4px;
    }
  }

  .copy-right {
    font-size: 14px;
    font-weight: bold;
  }
}
