.footer {
  padding: 3rem 1.5rem !important;
  background-color: $primary95 !important;
  color: $dark-gray;
  a {
    color: $white;
  }
  .footer-sns-icons {
    display: flex;
    margin-bottom: 12px;
    justify-content: center;
    align-items: center;
    gap: 24px;

    .fa-instagram {
      font-size: 2.4rem;
    }
  }

  .footer-item {
    text-align: center;
  }

  .footer-link {
    margin-bottom: 8px;
  }

  .copy-right {
    font-size: 14px;
    font-weight: bold;
  }
}
