.navigation{
  position: sticky;
  top: 0;
  z-index: 50;
  width: 100%;
  background: white;
  .header-logo {
    img {
      margin: 2px 0 -4px;
    }
  }
  @include mobile {
    .navbar-end {
      text-align: center;
    }
    .navbar-menu {
      display: block;
      opacity: 0;
      position: absolute;
      left: 0;
      right: 0;
      transform: translateY(-70%);
      transition: all 0.4s ease;
      pointer-events: none;
    }
    .navbar-menu.is-active {
      opacity: 1;
      transform: none;
      pointer-events: auto;
    }
  }
}
