.top-knowledge-section {
  margin: 20px auto;
  @include touch {
    margin: 20px 10px;
  }
  .knowledge-list {
    padding: 30px;
    @include touch {
      padding: 10px;
    }
    border: 1px solid #e5e5e5;
  }
  .knowledge-tab-item {
    border-radius: 10px;
    margin: 4px;
    color: gray;
    p {
      margin-top: 4px;
      font-size: small;
    }
  }
}

.item-discovery-section {
  margin: 20px auto;
  @include touch {
    margin: 20px 10px;
  }
}

.item-discovery-cover img {
  width: 100%;
  height: 260px;
  object-fit: cover;
  background: gray;
  filter: grayscale(100%);
  opacity: .6;
  background-attachment: fixed;
}

.community-section {
  margin: 20px auto;
  @include touch {
    margin: 20px 10px;
  }
}

.instagram-list-section {
  @include desktop {
    padding: 0 64px;
  }
  .instagram-list-header {
    margin: 24px 0;
    .instagram-list-title{
      font-size: 28px;
      font-weight: 700;
      letter-spacing: 2px;
    }
  }
}

.hero-title-number {
  font-size: 50px;
  font-weight: bold;
}

.about-section {
  margin: 20px auto;
  @include touch {
    margin: 20px 10px;
  }
  img {
    object-fit: cover;
  }
  .about-message {
    line-height: 28px;
  }
}
