.knowledge-section {
  margin: 20px auto;
  @include touch {
    margin: 20px 10px;
  }
  .knowledge-title {
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.125;
    text-decoration: underline 4px;
    text-decoration-skip-ink: none;
  }
  .card-header-name {
    color: $black;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 10px;
  }
  .card-image img {
    object-fit: contain;
  }
  .breadcrumb {
    margin: 16px 0px;
  }
  .knowledge-content {
    img {
      object-fit: contain;
      width: 80%;
      margin: 20px auto;
      max-width: 800px;
      max-height: 500px;
    }
  }
  .knowledge-body {
    padding: 10px;
    margin-bottom: 10px;
  }
  .table th,td{
    vertical-align: inherit;
  }

  .knowledge-header {
    margin-bottom: 10px;
    align-items: center;
    img {
      border: solid $red 4px;
      border-radius: 50%;
      object-fit: contain;
    }
    @include mobile {
      .media-content {
        overflow-y: hidden;
      }
      img {
        height: 74px;
        width: 74px;
      }
    }
  }
}
