.knowledge-section {
  margin-bottom: 24px;
  .knowledge-container {
    @include touch {
      margin: 0 10px;
    }
  }
  .knowledge-title {
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.125;
  }
  .knowledge-brand-header {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-bottom: 16px;
    padding: 3rem;
    @include touch {
      padding: 2rem;
      margin-bottom: 8px;
    }
    .knowledge-banner {
      width: 40%;
      max-height: 48px;
      object-fit: contain;
      @include touch {
        width: 60%;
      }
    }
  }
  @each $brand, $color in $brand-colors {
    .knowledge-brand-header.#{$brand} {
      background-color: $color;
    }
  }
  .knowledge-item-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
    padding: 3rem;
    gap: 24px;
    @include touch {
      padding: 2rem;
      margin-bottom: 8px;
      gap: 0;
    }
    .knowledge-title {
      font-size: 2.4rem;
      color: $beige-lighter;
      text-align: center;
      text-shadow:
        1px  1px 0px $black,
        -1px  1px 0px $black,
        1px -1px 0px $black,
        -1px -1px 0px $black,
        1px  0px 0px $black,
        0px  1px 0px $black,
        -1px  0px 0px $black,
        0px -1px 0px $black;
    }
    .knowledge-banner {
      max-height: 100px;
      object-fit: contain;
      @include touch {
        width: 60%;
      }
    }
    .knowledge-title, .knowledge-banner {
      @include touch {
        flex: 1;
      }
    }
  }
  @each $item, $color in $item-colors {
    .knowledge-item-header.#{$item} {
      background-color: $color;
    }
  }
  .knowledge-line-header {
    align-items: center;
    img {
      border: solid $red 4px;
      border-radius: 50%;
      object-fit: contain;
    }
    @include mobile {
      .media-content {
        overflow-y: hidden;
      }
      img {
        height: 74px;
        width: 74px;
      }
    }
  }
  .knowledge-card {
    padding: 0 14px;
    @include mobile {
      padding: 4px;
    }
    .knowledge-card-header {
      color: $primary;
      font-weight: 600;
      font-size: 18px;
      height: 48px;
      overflow: hidden;
      display: flex;
      align-items: flex-end;
    }
    .knowledge-card-image {
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border: solid 6px $primary;
      }
    }
  }
  .breadcrumb {
    margin: 16px 0px;
  }
  .knowledge-content {
    img {
      object-fit: cover;
      width: 80%;
      margin: 20px auto;
      max-width: 800px;
      max-height: 500px;
    }
  }
  .knowledge-body {
    padding: 10px;
    margin-bottom: 10px;
  }
  .knowledge-sub-title {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 16px;
  }
  .knowledge-price {
    margin-bottom: 48px;
    .knowledge-price-body{
      background: $beige-light;
      padding: 32px;
      .level-item {
        @include mobile {
          margin-bottom: 24px;
        }
      }
    }
  }
  .knowledge-relation {
    .knowledge-card-header {
      height: auto;
    }
  }
  .table th,td{
    vertical-align: inherit;
  }
}
