.magazine-section {
  margin-bottom: 24px;
  .magazine-container {
    @include touch {
      margin: 0 16px;
    }
    .magazine-title {
      font-size: 1.6rem;
      font-weight: 600;
      margin-bottom: 16px;
      color: $primary;
    }
    .magazine-header-date {
      margin-bottom: 16px;
    }
    .magazine-content {
      img {
        object-fit: contain;
        width: 80%;
        margin: 16px auto;
        max-height: 500px;
        max-width: 800px;
      }
      .magazine-body {
        padding: 10px;
        margin-bottom: 10px;
      }
    }
  }
  .form-section {
    margin-bottom: 20px;
  }
}

.magazine-cards {
  .magazine-card {
    padding: 0 14px;
    margin-bottom: 16px;
    @include mobile {
      padding: 4px;
    }
  }
  .magazine-card-image {
    margin-bottom: 16px;
    img {
      object-fit: cover;
    }
  }
  .magazine-card-header {
    font-size: 14px;
  }
  .magazine-date {
    position: absolute;
    z-index: 5;
  }
}

.magazine-date {
  background-color: $secondary;
  color: $primary;
  font-weight: 700;
  font-size: 14px;
  padding: 4px 8px;
  &.draft {
    background-color: $danger;
  }
  &.scheduled {
    background-color: $success;
  }
}
