.magazine-section {
  margin-bottom: 24px;
  @include touch {
    margin: 0 10px 40px;
  }
  .magazine-cards {
    margin-bottom: 32px;
  }
  .magazine-card {
    margin: 16px;
    img {
      object-fit: cover;
    }
    .magazine-card-content {
      .magazine-card-header {
        font-size: 1.2rem;
      }
    }
  }
  .magazine-container {
    .magazine-title {
      font-size: 1.6rem;
      font-weight: 600;
      margin-bottom: 16px;
    }
    .magazine-content {
      img {
        object-fit: contain;
        width: 80%;
        margin: 20px auto;
        max-height: 500px;
        max-width: 800px;
      }
      .magazine-body {
        padding: 10px;
        margin-bottom: 10px;
      }
    }
  }
  .form-section {
    margin-bottom: 20px;
  }
}


.magazine-date {
  background-color: #363636;
  color: white;
  font-weight: 700;
  font-size: 14px;
  position: absolute;
  z-index: 5;
  padding: 6px;
  margin: 4px 4px;
}
