.term-section {
  margin-bottom: 24px;
  .term-container {
    @include touch {
      margin: 0 16px;
    }
    .category-terms-title {
      font-size: 1.6rem;
      font-weight: 600;
      margin-bottom: 16px;
      color: $primary;
    }
    .term-name {
      font-size: 1.6rem;
      font-weight: 600;
      margin-bottom: 16px;
      color: $primary;
    }
    .term-lists {
      margin-bottom: 24px;
    }
    .term-list {
      display: flex;
      align-items: flex-start;
      padding: 1rem 0;
      &:not(:last-child) {
        border-bottom: 1px solid $dark-gray
      }
      .term-list-image {
        margin-right: 16px;
        flex: 0 0 auto;
        img {
          object-fit: cover;
        }
      }
      .term-content {
        flex: 1 1 auto;
      }
      .term-list-name{
        list-style: none;
        font-size: 1rem;
        font-weight: 600;
        margin-bottom: 8px;
      }
    }
    .term-edit-button {
      text-align: right;
    }
  }
  .form-section {
    margin-bottom: 20px;
  }
  .categories-lists {
    padding: 1em;
    margin-bottom: 16px;
    background: $light-gray;
    list-style: none;
    @include desktop {
      position: sticky;
      top: 16px;
    }
    .title {
      font-size: 1.0rem;
      margin-bottom: 16px;
      color: $primary;
    }
    .button {
      margin-bottom: 4px;
    }
  }
}
