<section class='brand-section'>
  <%= render partial: 'shared/section_headline', locals: { title: 'Brand' } %>
  <div class='brand-container container'>
    <h2 class='brand-title'>Brand作成</h2>
    <%= render 'form', brand: @brand %>

    <%= link_to '管理画面に戻る', admin_path %>
  </div>
</section>
