<%= javascript_include_tag 'brands/new', defer: true %>

<section class='admin-section'>
  <%= render partial: 'shared/section_headline', locals: { title: 'Brand' } %>
  <div class='admin-container container'>
    <h2 class='brand-title title'>Brand作成</h2>
    <%= render 'form', brand: @brand %>

    <%= link_to '管理画面に戻る', admin_path %>
  </div>
</section>
