<section>
  <%= render partial: 'shared/hero_banner', locals: { title: '0.Knowledge' } %>
  <div class='knowledge-section container'>
    <nav class="breadcrumb">
    </nav>
    <h2 class='title knowledge-title'>
      <%= @brand.name %>
    </h2>
    <%= render 'knowledges/card_list', objects: @brand.lines %>
    <%= link_to 'トップページに戻る', root_path %>
  </div>
</section>
