<section>
  <%= render 'knowledges/header' %>
  <section class='knowledge-section container'>
    <nav class="breadcrumb">
    </nav>
    <h2 class='title knowledge-title'>
      <%= @brand.name %>
    </h2>
    <%= render 'knowledges/card_list', objects: @brand.lines %>
    <%= link_to 'トップページに戻る', root_path %>
  </section>
</section>
