<%= javascript_include_tag 'categories/edit', defer: true %>

<section class='admin-section'>
  <%= render partial: 'shared/section_headline', locals: { title: 'Category' } %>
  <div class='admin-container container'>
    <%= render 'form', category: @category %>
  </div>
</section>
